# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask SQLite database
*.db
*.sqlite3
users.db

# Environment variables
.env

# Uploaded files
instance/
uploads/
*.bak
*.log

# Python virtual environments
venv/
.venv/

# VS Code settings
.vscode/

# macOS and Linux system files
.DS_Store
*.swp

# PyCharm
.idea/

# Render or Heroku build cache
render_build.sh
